<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.corrosion.run.CargoRunDelegate">
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="second-rust"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_WORKING_DIRECTORY" value="C:/Users/lapiz/Documents/GitHub/treeofmapple/-coding/rust/second-rust"/>
</launchConfiguration>
